################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/netMarket/.vs/netMarket
/netMarket/Core/obj
/netMarket/WebApi/obj
/netMarket/WebApi/appsettings.json
/netMarket/Core/bin/Debug/net5.0
