################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/netMarket/.vs/netMarket
/netMarket/BusinessLogic/obj
/netMarket/BusinessLogic/bin
/netMarket/Core/obj
/netMarket/Core/bin
/netMarket/WebApi/obj
/netMarket/WebApi/bin
/netMarket/WebApi/appsettings.json
net-market-fe/node_modules
net-market-fe/.gitignore
/.vs/netMarket/v17
/.vs/VSWorkspaceState.json
net-market-fe/.vscode/settings.json

