################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/netMarket/.vs/netMarket
/netMarket/Core/obj
/netMarket/WebApi/obj
/netMarket/WebApi/appsettings.json
/netMarket/Core/bin/Debug/net5.0
/netMarket/BusinessLogic/obj
/netMarket/BusinessLogic/bin/Debug/net5.0
/netMarket/WebApi/bin/Debug/net5.0
net-market-fe/node_modules
net-market-fe/.gitignore
/.vs/netMarket/v17
