{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=***;Initial Catalog=netMarket;User Id=***;Password=***;",
    "IdentitySecurity": "Data Source=***;Initial Catalog=IdentitySecurity;User Id=***;Password=***;",
    "Redis": "Redis address"
  },
  "Token": {
    "Key": "secret key",
    "Issuer": "server"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}
